form,
form > input,
div {
    font-family: verdana;
}

div {
    width: 200px;
    height: 25px;
    border: solid 3px #363636;
    color: #363636;
    margin: 50px auto;
    text-align: center;
    padding: 15px;
    border-radius: 0 50%;
    font-size: 20px;
    font-weight: 600;
}

form {
    width: 45%;
    margin: 50px auto;
    text-align: center;
    padding: 5%;
}
.contus {
    width: 90%;
    height: 30px;
    border: none;
    border-bottom: solid 2px #363636;
    outline: none;
    padding: 0 5px;
    transition: .2s;
    background: transparent;
}

.contus:focus {
    border-bottom: solid 3px gold;
    width: 95%;
    transition: .2s;
}

form > input {
    margin-bottom: 30px;
}

input[type=file] {
    width: 90%;
    height: 40px;
    border: solid 2px aqua;
    outline: none;
    transition: .2s;
    outline: none;
    cursor: pointer;
    color: limegreen;
}

input[type=file]::-webkit-file-upload-button {
    width: 100px;
    height: 40px;
    border: none;
    background-color: aqua;
    cursor: pointer;
    color: #363636;
    transition: .5s ease;
}

input[type=file]::-webkit-file-upload-button:hover {
    width: 120px;
    font-size: 16px;
    transition: .5s ease;
}

input[type=submit] {
    width: 30%;
    height: 40px;
    border-radius: 5px;
    color: white;
    background-color: springgreen;
    border: none;
    transition: .5s ease;
}

input[type=submit]:hover {
    width: 32%;
    transition: .5s ease;
}
a{
    color: orangered;
    font-family: verdana;
    float: right;
    padding: 5px;
    margin-top: 10px;
    margin-right: 20px;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    background-color: #fff;

}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background-color: #363636;
}

@media only screen and (max-width: 1200px) {
    form {
        width: 65%;
    }
}

@media only screen and (max-width: 1080px) {
    form{
        width: 75%;
    }
}

@media only screen and (max-width: 720px) {
    form{
        width: 80%;
    }
}

@media only screen and (max-width: 480px) {
    form {
        width: 90%;
    }
}